@font-face {
	src: url('//db.onlinewebfonts.com/t/efbd8f0d869bf61fbe0f139a1602cda8.woff2');
	font-family: 'lucida calligraphy';
}

* {
	margin: 0;
	padding: 0;
}

a,
li,
ul {
	list-style: none;
	text-decoration: none;
}

html {
	height: 94%;
}

body {
	background-color: gainsboro;
	font-family: Arial, Helvetica, sans-serif, 'Segoe UI';
	font-size: 18px;
	height: 100%;
}

.first {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.container {
	height: 100%;
	display: flex;
	flex-direction: row;
}

.right-column {
	width: 100%;
	flex: 20%;
	height: 100%;
	margin-top: 18px;
}

.left-column {
	width: 100%;
	flex: 80%;
	height: 100%;
	margin-right: 2%;
}

.left-column h5 {
	display: inline-block;
}

.navbar {
	height: 6%;
	display: flex;
	justify-content: flex-end;
}

nav {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

nav img {
	width: 30%;
	height: 10px;
}

nav .img {
	display: flex;
	width: 33.3333px;
	height: 30px;
	justify-content: center;
	align-items: center;
}

nav .img:hover {
	background-color: rgb(196, 193, 193);
}

nav .close:hover {
	background-color: rgb(219, 16, 16);
}

.paragraph {
	height: 90px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-weight: 80;
}

.paragraph p {
	font-weight: inherit;
	font-size: 14px;
	font-weight: bold;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	margin-top: 1%;
	height: 8%;
}

.menu .nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-wrap: wrap;
}

.menu .nav img {
	width: 12%;
	height: 100%;
	margin-right: 15%;
}

.menu .nav img:hover {
	background-color: rgb(196, 193, 193);
}

.menu .nav p {
	margin-left: 4px;
}

.list {
	margin-right: 20%;
	width: 70%;
}

.list ul {
	display: flex;
}

.list li a {
	font-weight: 80;
	color: black;
	padding-bottom: 8px;
}

.list li:nth-child(1) {
	margin-right: 20%;
}

.list li a.history {
	border-bottom: 3px solid rgb(56, 153, 245);
}

.last {
	width: 100%;
	min-width: 500px !important;
	min-height: 450px;
}

.content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: baseline;
	width: 40%;
	height: 8%;
}

.content div {
	height: 100%;
	width: 10%;
	font-weight: bold;
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content div:hover {
	background-color: rgb(189, 189, 189);
}

.opacity {
	opacity: 0.2;
}

.main {
	font-family: inherit;
	width: 100%;
}

.blue:hover {
	background-color: royalblue !important;
}

.row div:hover {
	background-color: rgb(189, 189, 189);
}

.big-screen-row .row div:hover {
	background-color: rgb(189, 189, 189);
}

.main {
	opacity: 0.8;
	height: 92%;
}

.main div.number:hover {
	background-color: rgb(189, 189, 189);
	opacity: 0.8;
}

sup {
	font-size: 13px;
	position: relative;
	display: flex;
	bottom: 7px;
	font-weight: bold;
}

@media screen and (max-width: 500px) {
	.right-column,
	.row .screen {
		display: none;
	}

	.left-column {
		margin-right: 0;
	}

	.last {
		height: 78%;
	}

	.content {
		justify-content: space-between;
		width: 60%;
	}

	.content div {
		width: 14%;
	}

	.row {
		display: flex;
		height: 20%;
		width: 100%;
	}

	.row div {
		font-family: 'lucida calligraphy';
		background-color: #efefef;
		margin: 1px;
		width: 25%;
		height: 97%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.big-screen-row .row div {
		font-family: inherit;
		background-color: #efefef;
		margin: 1px;
		width: 25%;
		height: 97%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 18px;
		font-weight: 80;
	}

	.big-screen-row {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 80%;
	}
}

@media screen and (min-width: 500px) {
	.right-column,
	.row .screen {
		display: none;
	}

	.left-column {
		margin-right: 0;
	}

	.last {
		height: 78%;
	}

	.content {
		justify-content: space-between;
		width: 60%;
	}

	.content div {
		width: 14%;
	}

	.row {
		display: flex;
		height: 20%;
		width: 100%;
	}

	.row div {
		font-family: 'lucida calligraphy';
		background-color: #efefef;
		margin: 1px;
		width: 25%;
		height: 97%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.big-screen-row .row div {
		font-family: inherit;
		background-color: #efefef;
		margin: 1px;
		width: 25%;
		height: 97%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 18px;
		font-weight: 80;
	}

	.big-screen-row {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 80%;
	}
}

@media screen and (min-width: 800px) {
	.right-column {
		display: block;
	}

	.row .screen {
		display: none;
	}

	.last {
		height: 78%;
	}

	.content {
		justify-content: space-between;
		width: 60%;
	}

	.content div {
		width: 14%;
	}

	.row {
		display: flex;
		height: 20%;
		width: 100%;
	}

	.row div {
		font-family: 'lucida calligraphy';
		background-color: #efefef;
		margin: 1px;
		width: 25%;
		height: 97%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.big-screen-row .row div {
		font-family: inherit;
		background-color: #efefef;
		margin: 1px;
		width: 25%;
		height: 97%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 18px;
		font-weight: 80;
	}

	.big-screen-row {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 80%;
	}
}

@media screen and (min-width: 1000px) and (min-height: 650px) {
	.right-column,
	.row .screen {
		display: block;
	}

	.last {
		height: 72%;
	}

	.main {
		display: flex;
		flex-direction: row;
	}

	.row {
		display: flex;
		height: 100%;
	}

	.row .screen {
		display: flex;
		height: 100%;
	}

	.big-screen {
		display: flex;
		flex-direction: column;
		width: 20%;
	}

	.big-screen-row {
		display: flex;
		flex-direction: column;
		width: 80%;
		height: 100%;
	}

	.row div {
		font-family: 'lucida calligraphy';
		background-color: #efefef;
		margin: 1px;
		height: 97%;
		width: 99%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		font-weight: bold;
	}

	.big-screen-row .row div {
		font-family: inherit;
		background-color: #efefef;
		margin: 1px;
		width: 25%;
		height: 97%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 18px;
		font-weight: 80;
	}
}

.main div.number {
	background-color: white;
	font-weight: bold;
	font-size: 22px;
}

.result {
	direction: rtl;
	margin-top: 5%;
	height: 10%;
}

.result span.number {
	font-size: 40px;
	margin-top: 3%;
}

.rotate {
	transform: rotate(180deg);
}
